body{
    background-color: blueviolet;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: gold;
    text-decoration: none;
}
a:hover{
    color: greenyellow;
}

#hero{
    width: 90%;
    height: 300px;
    margin:0px 0px 0px 5%;
}

#container{
    color: black;
    text-align: center;
    margin: 15% 0 20% 39%;
    width: 20%;
    height: 200px;
    padding: 30px 40px;
    background-color:cadetblue;
    border-radius: 50px 20px;
    border: 2px solid black;
}

#submit{
    margin-top: 10%;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
    width: 80%;
    background-color: blueviolet;
    color: white;
}

#submit:hover{
    border-radius: 10px;
    color: greenyellow;
}
nav{
    margin: 0 0 10px 5%;
}

footer{
    margin: 7% 0 1% 5%;
}

main,article{
    margin: 1% 0 0 5%;
}

section{
    margin: 5% 0 0 3%;    
}

h3{
    text-align: center;
}

.tf{
    width: 90%;
}